.item img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
    
}
.container{
    max-width: 800px;
}
.carousel-indicators{
    position: relative;  
    background-color: #f10606; 
    /* width: 30px; */
}

.carousel-indicators button{
    
    background-color:#080000;
    width: 30px;
    height: 30px;
    
}


.star i{
    color: red;
    font-size: 1.5rem;
    padding: .25rem;
    
}
.star{
    margin-bottom: 1rem;
}
i.bi.bi-arrow-left-circle {
    color: rgb(248, 6, 6);
    font-size: 1.5rem;
    margin-left: 5rem;
}
i.bi.bi-arrow-right-circle {
    color: rgb(247, 6, 6);
    font-size: 1.5rem;
    margin-right: 5rem;
}
